<div class="contenedor-datos-evaluador">
    <div class="datos-evaluador">
        <input type="text" class="input-estandar" placeholder="Nombre evaluador *">
        <input type="text" class="input-estandar" placeholder="Correo evaluador *">
    </div>
    <div class="contenedor-items-notas separador10">
        <div class="encabezado-notas">
            <p>Criterios a evaluar</p>
            <p>Calificación (1.0 a 5.0)</p>
        </div>
        <div *ngFor="let item of items; index as idx" class="contenedor-items">
            <div class="contenedor-criterio">
                <button (click)="eliminarItem(idx)" class="btn-x">x</button>
                <input type="text" class="input-estandar criterio" placeholder="Criterio a evaluar *">
            </div>
            <input type="number" class="input-estandar nota" placeholder="0.0">
        </div>
        <button (click)="agregarItem()" class="btn-agregar separador5">+ Agregar item</button>
        <div class="contenedor-calificacion">
            <div class="calificacion">
                <p>TOTAL</p>
                <p>|</p>
                <p>0.0</p>
            </div>
        </div>
    </div>
    <div class="contenedor-comentarios-evaluador separador5">
        <label for="">Cometarios:</label>
        <textarea name="" id="" rows="4"></textarea>
    </div>
</div>
<button class="btn-guardar">Guardar</button>