<div class="datos-evaluador">
    <input type="text" class="input-standar" placeholder="Nombre evaluador *">
    <input type="text" class="input-standar" placeholder="Correo evaluador *">
</div>
<div class="contenedor-comentarios-evaluador">
    <label for="">Cometarios</label>
    <textarea name="" id="" rows="4" class="textarea"></textarea>
</div>
<div class="contenedor-calificacion">
    <label for="">Calificación (1.0 a 5.0):</label>
    <input type="number" class="input-standar calificacion" placeholder="0.0">
</div>
<button class="btn-guardar">Guardar</button>