<section id="etapas">
    <div class="contenedor-etapas">

        <article>
            <h1 class="titulo-etapa">ETAPA 1</h1>
            <div class="separador10">
                <div *ngFor="let url of urlPrueba; index as idx" class="x-url">
                    <input type="text" class="input-estandar" placeholder="Url repositorio prueba Técnica*">
                    <button (click)="removeUrlPrueba(idx)" class="btn-x">x</button>
                </div>
                <button (click)="addUrlPrueba()" class="btn-agregar">+ Agregar url de prueba</button>
                <div class="btn-agregar image-file-upload">
                    <img src="https://icon-library.com/images/upload-image-icon-png/upload-image-icon-png-29.jpg"
                        alt="icono upload">
                    <p>Subir prueba</p>
                </div>
            </div>
            <div class="contenedor-evaluador separador10">
                <h2 class="titulo-evaluador">Evaluador 1</h2>
                <app-evaluador></app-evaluador>
            </div>
            <button *ngIf="!evaluadorEtapaUno" (click)="agregarEvaluadorEtapaUno()" class="btn-agregar">+ Agregar
                Evaluador</button>
            <div *ngIf="evaluadorEtapaUno" class="contenedor-evaluador separador10">
                <div class="titulo-eliminar">
                    <h2 class="titulo-evaluador">Evaluador 2</h2>
                    <button (click)="eliminarEvaluadorEtapaUno()" class="btn-eliminar-cerrar"> X Eliminar</button>
                </div>
                <app-evaluador></app-evaluador>
            </div>
        </article>
        <article>
            <div class="contenedor-btn-etapa">
                <button *ngIf="!etapaDos && evaluadorEtapaUno" (click)="eliminarEtapaDos()" (click)="agregarEtapa()"
                    class="btn-etapa2">COMENZAR SEGUNDA ETAPA</button>
            </div>
        </article>
        <article *ngIf="etapaDos" class="separador10">
            <hr>
            <div class="titulo-eliminar">
                <h1 class="titulo-etapa separador10">ETAPA 2</h1>
                <button (click)="eliminarEtapaDos()" class="btn-eliminar-cerrar"> X Eliminar etapa</button>
            </div>
            <div class=" contenedor-evaluador separador10">
                <h2 class="titulo-evaluador">Evaluador 1</h2>
                <app-evaluador></app-evaluador>
                
            </div>
            <button *ngIf="!evaluadorEtapaDos" (click)="agregarEvaluadorEtapaDos()" class="btn-agregar">+ Agregar
                Evaluador</button>
            <div *ngIf="evaluadorEtapaDos" class="contenedor-evaluador separador10">
                <div class="titulo-eliminar">
                    <h2 class="titulo-evaluador">Evaluador 2</h2>
                    <button (click)="eliminarEvaluadorEtapaDos()" class="btn-eliminar-cerrar"> X Eliminar</button>
                </div>
                <app-evaluador></app-evaluador>
            </div>
        </article>
    </div>
    <button class="btn-finalizar-proceso" (click)="finalizarProcesoEvent()">FINALIZAR PROCESO</button>
    <div *ngIf="finalizarProceso" class="contenedor-confimar-proceso">
        <div class="subcontenedor-confimar-proceso">
            <div class="cont-btn-cancelar">
                <button class="btn-eliminar-cerrar" (click)="finalizarProcesoCancelar()">CANCELAR</button>
            </div>
            <p>¿El estado de la fialización del proceso es?</p>
            <div class="btns-exito">
                <button *ngIf="etapaDos && evaluadorEtapaDos" class="exitoso" (click)="finalizarProcesoCancelar()">Exitoso</button>
                <button class="no-exitoso" (click)="finalizarProcesoCancelar()">No Exitoso</button>
            </div>
        </div>
    </div>
</section>